.button {
    background-color: #1d4d57;
    color:white;
    transition: 0.2s;
    padding: 6px 12px;
}

.button:hover {
    background-color: hsl(194, 34%, 42%);
}

.button:active {
    background-color: hsl(194, 34%, 37%);
}

.buttonInverse {
    background-color: white;
    color:#1d4d57;
    transition: 0.2s;
    padding: 6px 12px;
}
